<h1><%= @user.username %></h1>

<h2> Surveys you have created</h2>


<% if @user.surveys.count > 0 %>

  <ol>
    <% @user.surveys.each do |survey| %>
      <li class="survey-title-display"><%= survey.title %></li>
        <div class='display-chart'>
          <button>display</button>
          <% survey.questions.each do |question| %>
            <div id="question<%= question.id %>" class="graph-question">
              <br>
              <p class="question-title"><%= question.text %></p>
              <div class="toggle">
              <% if question.users_choices.count != 0 %>
                <% question.choices.each do |choice| %>
                <% width = choice.users_choices.count.to_f / question.users_choices.count.to_f * 100 %>
                    <div class="background-graph" >
                      <p><span class="choice-text"><%= choice.text %></span> - <%= choice.users_choices.count %> total votes - (<%= width %>%)</p>
                      <div class="graph-bar" style="width: <%= width %>%;"></div><br>
                    </div>
                    <div class="clearfix"></div>
                    <% end %>
                <% else %>
                  <% question.choices.each do |choice| %>
                  <p><span class="choice-text"><%= choice.text %></span> - <%= choice.users_choices.count %> total votes</p>
                <% end %>
              <% end %>
            </div>
          </div>
            <% end %>
      <% end %>
    </div>
  </ol>
  <% else %>
  <p>You haven't created any surveys yet!</p>
  <% end %>




<h2> Surveys you have taken</h2>
<% if @user.users_surveys.count > 0 %>
 <ol>
    <% @user.users_surveys.each do |user_survey| %>
      <li><a href="/survey/<%= user_survey.survey.id %>"><%= user_survey.survey.title %></a></li>
      <% end %>
    <% else %>
      <p>You haven't taken any surveys yet!</p>
    <% end %>
  </ol>