<div>
  <h2><%= @survey.title %></h2>
  <% if @survey.pic  %>
    <img class="survey-image" src="<%= @survey.pic %>">
  <% end %>

    <% if @user.id == @survey.user.id || user_completed_survey?(@user, @survey) %>
      <p>You've already taken this survey!</p>
    <% else %>
      <form id="survey<%= @survey.id %>" method="post" action="/survey/submit">
      <% @survey.questions.each_with_index do |question, question_number|  %>
        <%= question.text %><br>

            <% question.choices.each do |choice| %>
            <input type="radio" name="<%= question.id %>" value="<%= choice.id %>"> <%= choice.text %><br>
            <% end %><br>
          <% end %>
            <br><input type="submit" value="submit">
      </form><br><br>
    <% end %>
</div>